* {
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(
    to left bottom,
    rgba(120, 0, 255, 1),
    rgba(168, 62, 176, 1)
  );

  margin: 0;
  padding: 0;
}
h1 {
  color: gray;
}
#container_1 {
  text-align: center;
  background: linear-gradient(
    to left bottom,
    rgba(176, 62, 87, 1),
    rgba(175, 62, 176, 1)
  );
}
#row_1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}
